<app-header></app-header>
<ion-content class="ion-padding" fullscreen>
  <div class="home-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Lista clases</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item lines="none">
            <ion-label>
              <h3 style="color: white;">{{asignatura.nombre}}</h3>
              <p >Sala: {{asignatura.sala}}</p>
              <p >Hora: {{asignatura.hora}}</p>
            </ion-label>
            <ion-button id="modal-trigger" (click)="generarQR(asignatura.id)">Generar codigo QR</ion-button>
            <ion-modal trigger="modal-trigger" #modal>
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-title style="color: #572364;">CODIGO QR</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="closeModal()">Close</ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-header>
                <ion-content class="ion-padding">{{qrData}}<canvas #qrCanvas></canvas>
                </ion-content>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-button expand="full" color="secondary" (click)="navigateBack()">Volver</ion-button>
    </ion-card>
  </div>
</ion-content>
<app-footer></app-footer>
