<app-header></app-header>
<ion-content class="ion-padding" fullscreen>
  <div class="home-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>¡Bienvenido!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h1>Se mostrara el listado de clases del dia actual</h1>
        <ion-button color="secondary" [routerLink]="['/listaclases']">Lista de Clases</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<app-footer></app-footer>
